In [1]:
import os
import pandas as pd
import numpy as np
import mysql.connector
import logging
from datetime import datetime

In [3]:
logging.basicConfig(
    filename='retail_etl.log',
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s'
)

In [7]:
data_folder = 'data/'

if not os.path.exists(data_folder):
    os.makedirs(data_folder)
    print("‚úÖ 'data/' folder created. Please add CSVs inside it.")
else:
    print("üìÅ 'data/' folder already exists.")

‚úÖ 'data/' folder created. Please add CSVs inside it.

In [8]:
import os
import pandas as pd

In [9]:
data_folder = 'data/'

# Create the folder if it doesn't exist
if not os.path.exists(data_folder):
    os.makedirs(data_folder)
    print("‚úÖ 'data/' folder created. Add your CSV files into this folder.")
else:
    print("üìÅ 'data/' folder already exists.")

# Combine all CSV files in the folder into a single DataFrame
combined_df = pd.DataFrame()

for file in os.listdir(data_folder):
    if file.endswith(".csv"):
        file_path = os.path.join(data_folder, file)
        temp_df = pd.read_csv(file_path)
        combined_df = pd.concat([combined_df, temp_df], ignore_index=True)

# Display the first few rows
print("‚úÖ Raw data combined:")
print(combined_df.head())

üìÅ 'data/' folder already exists.
‚úÖ Raw data combined:
Empty DataFrame
Columns: []
Index: []

In [10]:
import numpy as np
from datetime import datetime

In [11]:
combined_df.columns = [col.strip().lower().replace(' ', '_') for col in combined_df.columns]

# üîç Step 1: Print available columns
print("üìã Available columns after normalization:")
print(combined_df.columns.tolist())

# ‚úÖ Step 2: Check if required columns exist before proceeding
required_columns = ['quantity_sold', 'unit_price', 'discount_percent', 'payment_mode', 'date', 'store_id', 'product_id', 'product_name']

missing_columns = [col for col in required_columns if col not in combined_df.columns]
if missing_columns:
    print(f"‚ùå Missing columns in the data: {missing_columns}")
else:
    # ‚úÖ Handle missing values
    combined_df.fillna({
        'quantity_sold': 0,
        'unit_price': 0.0,
        'discount_percent': 0.0,
        'payment_mode': 'Unknown'
    }, inplace=True)

    # ‚úÖ Calculate total sale value
    combined_df['total_sale_value'] = (
        combined_df['quantity_sold'] *
        combined_df['unit_price'] *
        (1 - combined_df['discount_percent'] / 100)
    )

    # ‚úÖ Convert 'date' column to datetime
    combined_df['date'] = pd.to_datetime(combined_df['date'], errors='coerce')

    # ‚úÖ Drop duplicates
    combined_df.drop_duplicates(subset=['store_id', 'date', 'product_id'], inplace=True)

    # ‚úÖ Categorize sales
    combined_df['sale_category'] = np.where(
        combined_df['total_sale_value'] >= 10000, 'High',
        np.where(combined_df['total_sale_value'] >= 5000, 'Medium', 'Low')
    )

    # üëÄ Preview the cleaned data
    print("‚úÖ Transformed DataFrame:")
    print(combined_df.head())
    print(combined_df.columns.tolist())

üìã Available columns after normalization:
[]
‚ùå Missing columns in the data: ['quantity_sold', 'unit_price', 'discount_percent', 'payment_mode', 'date', 'store_id', 'product_id', 'product_name']

In [12]:
import mysql.connector

In [15]:
try:
    # ‚úÖ Connect to MySQL database (update credentials if needed)
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Dharanish@07",      # Update if you use a different password
        database="retail"     # Make sure this DB exists. Create manually if needed.
    )

    cursor = mydb.cursor()

    # ‚úÖ Create table if not exists
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS retail_sales (
            store_id VARCHAR(20),
            date DATE,
            product_id VARCHAR(20),
            product_name VARCHAR(100),
            quantity_sold INT,
            unit_price FLOAT,
            discount_percent FLOAT,
            payment_mode VARCHAR(20),
            total_sale_value FLOAT,
            sale_category VARCHAR(20),
            PRIMARY KEY (store_id, date, product_id)
        )
    """)

    # ‚úÖ Insert each row with ON DUPLICATE KEY UPDATE (idempotent insert)
    for _, row in combined_df.iterrows():
        sql = """
            INSERT INTO retail_sales (
                store_id, date, product_id, product_name,
                quantity_sold, unit_price, discount_percent,
                payment_mode, total_sale_value, sale_category
            )
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE
                quantity_sold=VALUES(quantity_sold),
                unit_price=VALUES(unit_price),
                discount_percent=VALUES(discount_percent),
                payment_mode=VALUES(payment_mode),
                total_sale_value=VALUES(total_sale_value),
                sale_category=VALUES(sale_category)
        """
        values = (
            row['store_id'],
            row['date'],
            row['product_id'],
            row['product_name'],
            int(row['quantity_sold']),
            float(row['unit_price']),
            float(row['discount_percent']),
            row['payment_mode'],
            float(row['total_sale_value']),
            row['sale_category']
        )
        cursor.execute(sql, values)

    # ‚úÖ Commit and close
    mydb.commit()
    cursor.close()
    mydb.close()

    print("‚úÖ Data loaded into MySQL successfully.")

except mysql.connector.Error as err:
    print("‚ùå MySQL Error:", err)

‚úÖ Data loaded into MySQL successfully.